<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  
  
  <div class="container bootstrap snippet">
      <div class="row">
              <div class="col-sm-10" class="text-center"><h1>Create Adoption</h1></div>
        
      </div>
  </div>

  
  
        <div class="text-center">
          <h6>Upload Adoption Doctuments</h6>
          <input type="file" class="text-center center-block file-upload">
        </div><br> 
            <div class="panel panel-default">
              <div class="panel-heading">Create Adoption</div>
              <div class="panel-body">
                    <form class="form" action="##" method="post" id="registrationForm">
                      
  
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="first_name"><h4>Select Animal</h4></label>
                                <input type="text" class="form-control" name="Animal" id="Animal" placeholder="Animal" title="Please Select an Animal" disabled>
                                <button class="btn btn-lg btn-primary" type="submit"><i class="glyphicon glyphicon-search" title="SearchAnimal"></i></button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i></button>

                            </div>
                        </div>

                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="first_name"><h4>Select Adopter</h4></label>
                                <input type="text" class="form-control" name="Animal" id="Adopter" placeholder="Adopter" title="Please Select Adopter." disabled>
                                <button class="btn btn-lg btn-primary" type="submit"><i class="glyphicon glyphicon-search" title="SearchAdopter"></i></button>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-plus" title="AddAdopter"></i></button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i></button>
                            </div>
                        </div>    

                                             
                               
                        <div class="form-group"> 
                            <div class="col-xs-12">
                                <label for="first_name"><h4>Select Adoption Date</h4></label>           
                            <mat-form-field appearance="outline">
                                        <input matInput [matDatepicker]="picker" placeholder="Date of Adoption">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>                                      
                                </div>   
                                </div>                               
                                                       <br>
                         <div class="form-group">
                             <div class="col-xs-12">
                                  <br>
                                    <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-circle-arrow-right" title="Proceed to Book a HomeCheck Schedule"></i> Save & Book HomeCheck Schedule <i></i> </button>
                                    <button class="btn btn-lg btn-primary pull-left" type="submit"><i class="	glyphicon glyphicon-circle-arrow-left"></i> Back</button>
                                      <button class="btn btn-lg pull-center" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                   <!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                              </div>
                        </div>
                      </form>
                    </div>
                  </div>
              
  
               
  
          
  