.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:1170px}}
.container .jumbotron,.container-fluid .jumbotron{padding-right:15px;padding-left:15px;border-radius:6px}
.jumbotron .container{max-width:100%}
.container .jumbotron,.container-fluid .jumbotron{padding-right:60px;padding-left:60px}.jumbotron .h1,.jumbotron h1{font-size:63px}}.thumbnail{display:block;padding:4px;margin-bottom:20px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out}
.row{margin-right:-15px;margin-left:-15px}
.col-sm-10{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.col-sm-10{float:left}
.col-sm-10{width:83.33333333%}
.col-sm-2{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.col-sm-2{float:left}
.col-sm-2{width:16.66666667%}
.pull-right{padding-right:15px;padding-left:0;text-align:right;border-right:5px solid #eee;border-left:0}
.pull-right{right:0;left:auto}