@media (min-width: 1200px){
.container {
    width: none !important;
}}
@media (min-width: 1200px){
.container {
    width: none !important;
}
}
@media (min-width: 992px){
.container {
    width: none !important;
}}
@media (min-width: 768px){
.container {
    width: none !important;
}}
.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important ;
}